*{
   box-sizing: border-box;
}
h1{
   text-align: center;
   font-family : "Helvetica";  
}

.row {
overflow: hidden;

}

.first,.second,.third{ 
                   background-color:purple;  
                                                   
                   font-color: black;
                   border: 1px solid black;                    
                   margin-top: 5px;                  
    
}

p {
		   font-family : "Arial";  
                   padding-left : 5px;
                   padding-right : 5px;
		   padding-top: 5px;
		   padding-bottom: 5px;
                    
}
h3{

    font-family : "Courier New";  
     font-size: 20px;
     color:black;
     text-align:right;
}
h3 span{
    font-family : "Verdana";  
    background-color:red;
     border: 1px solid black;
}
    


@media(min-width: 992px){
          .col-lg-4{
          float: left;
          border: 1px solid black;
}
.col-lg-4{
    width: 33%;
}
}
@media(min-width: 768px) and (max-width: 991px){ 
                        .col-sm-6{
                        float: left;
                        border: 1px solid black;
                        
                        
} 

.col-sm-6{
       width: 50%;
       
}
@media(max-width: 767px){
               .col-xs-12{
               float: left;
               border: 1px solid black;
}
.col-xs-12{
       width: 100%;
}
}
             
